.searchFormContainer {
  display: flex;
  flex-flow: row wrap;
  label {
    margin-right: 5px;
  }
  .searchBar {
    min-width: 150px;
    margin-right: 10px;
  }
  #submitBtn {
    border: solid 2px #2684ff;
    border-radius: 5px;
    background: none;
    width: 40px;
    height: 40px;
    align-self: flex-end;
    padding: auto;
    margin-top: 10px;
    svg {
      display: block;
    }
  }
}
