@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");
.info,
.noInfoAvailable {
  font-family: 'Mallanna', sans-serif;
  padding: 25px;
  border-radius: 25px;
  background-color: #e2e2e2;
  max-width: 350px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px 2px #ccc;
          box-shadow: 1px 1px 3px 2px #ccc;
}

@media only screen and (max-width: 1116px) {
  .info,
  .noInfoAvailable {
    padding: 15px;
    max-width: 710px;
  }
}

@media only screen and (max-width: 1024px) {
  .info,
  .noInfoAvailable {
    max-width: 100%;
  }
}

.info h3,
.noInfoAvailable h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.info .twitterButton,
.noInfoAvailable .twitterButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 5px 5px 5px 0;
  background-color: #1da1f2;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.info .twitterButton h4,
.noInfoAvailable .twitterButton h4 {
  margin-bottom: 0;
  font-weight: bold;
  color: white;
}

.info .twitterButton:hover,
.noInfoAvailable .twitterButton:hover {
  background-color: white;
  -webkit-box-shadow: inset 0px 0px 0px 2px #1da1f2;
          box-shadow: inset 0px 0px 0px 2px #1da1f2;
}

.info .twitterButton:hover h4,
.noInfoAvailable .twitterButton:hover h4 {
  color: #1da1f2;
}

.info .confusedFaceImg,
.noInfoAvailable .confusedFaceImg {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
