.ethBtcInfo {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 15px;
  color: #333333;
}

@media only screen and (max-width: 610px) {
  .ethBtcInfo {
    display: block;
  }
}

.ethBtcInfo .ethInfo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  background-color: #e2e2e2;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.ethBtcInfo .ethInfo:hover {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ethBtcInfo .btcInfo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  background-color: #fad186;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.ethBtcInfo .btcInfo:hover {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ethBtcInfo .ethInfo,
.ethBtcInfo .btcInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px 10px 5px 10px;
}

.ethBtcInfo .ethInfo h2,
.ethBtcInfo .btcInfo h2 {
  margin-right: 15px;
}

.ethBtcInfo .ethInfo div,
.ethBtcInfo .btcInfo div {
  font-weight: 600;
  margin-left: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
