.graphInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.graphInfoContainer .pairTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.graphInfoContainer .pairTitle .favIcon {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.graphInfoContainer .pairTitle .favIcon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.graphInfoContainer .tradingStatus {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.graphInfoContainer .tradingStatus img {
  margin-right: 5px;
}

.graphInfoContainer .tradingStatus p {
  padding: 5px 10px 5px 10px;
  margin: 3px 5px 3px 5px;
  border-radius: 15px;
  color: #333333;
}

.graphInfoContainer .tradingStatus p .marketplaceLink {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.graphInfoContainer .tradingStatus .isTrading {
  display: inline-block;
}

.graphInfoContainer .tradingStatus .isTrading:hover {
  background-color: #9de712 !important;
}

.graphInfoContainer .tradingStatus .isNotTrading {
  display: inline-block;
}

.graphInfoContainer .tradingStatus .isNotTrading:hover {
  background-color: #faf742 !important;
}

.graphInfoContainer .graph {
  max-width: 700px;
  width: 100%;
  margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .graphInfoContainer .graph {
    max-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .graphInfoContainer .graph {
    height: 100%;
  }
}
