@mixin non-selectable {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.graphInfoContainer {
  display: flex;
  flex-flow: row wrap;
  .pairTitle {
    display: flex;
    align-items: center;
    align-content: center;
    @include non-selectable;
    .favIcon {
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .tradingStatus {
    @include non-selectable;
    p {
      padding: 5px 10px 5px 10px;
      margin: 3px 5px 3px 5px;
      border-radius: 15px;
      color: rgb(51, 51, 51);
      svg {
        margin-bottom: 3px;
      }
      .marketplaceLink {
        animation: bounce 1s infinite;
        @keyframes bounce {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(2px);
          }
          100% {
            transform: translateX(0);
          }
        }
      }
    }
    .isTrading {
      display: inline-block;
      &:hover {
        background-color: #9de712 !important;
      }
    }
    .isNotTrading {
      display: inline-block;
      &:hover {
        background-color: #faf742 !important;
      }
    }
  }

  .graph {
    max-width: 700px;
    width: 100%;
    margin-right: 10px;
    @media only screen and (max-width: 1024px) {
      max-width: 100%;
    }
    @media only screen and (max-width: 400px) {
      height: 100%;
    }
  }
  .info,
  .noInfoAvailable {
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(226, 226, 226);
    max-width: 350px;
    overflow: hidden;
    @media only screen and (max-width: 1116px) {
      padding: 15px;
      max-width: 710px;
    }
    @media only screen and (max-width: 1024px) {
      max-width: 100%;
    }
    .confusedFaceImg {
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
