@mixin non-selectable {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.ethBtcInfo {
  @include non-selectable;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  color: rgb(51, 51, 51);
  @media only screen and (max-width: 610px) {
    display: block;
  }
  .ethInfo {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .btcInfo {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(250, 209, 134);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .ethInfo,
  .btcInfo {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px 10px 5px 10px;
    h2 {
      margin-right: 15px;
    }
    div {
      font-weight: 600;
      margin-left: auto;
      order: 2;
    }
  }
}
