.ethBtcInfo {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  color: rgb(51, 51, 51);
  @media only screen and (max-width: 610px) {
    display: block;
  }
  .ethInfo {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(226, 226, 226);
  }
  .btcInfo {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(250, 209, 134);
  }
  .ethInfo,
  .btcInfo {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px 10px 5px 10px;
    h2 {
      margin-right: 15px;
    }
    div {
      font-weight: 600;
      margin-left: auto;
      order: 2;
    }
  }
}
