.favorites {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  button {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 5px;
    background-color: rgb(250, 209, 134);
    border: none;
    font-size: large;
    padding: 10px;
    .arrowRight {
      padding-left: 2px;
      animation: bounce 2s infinite;
      @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateX(0);
        }
        40% {
          transform: translateX(-3px);
        }
        60% {
          transform: translateX(-3px);
        }
      }
      svg {
        cursor: pointer;
        margin: auto;
      }
    }
  }
  .favItem {
    margin: 5px;
    padding: 5px;
    background-color: rgb(226, 226, 226);
  }
}
