@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.navbar-expand-sm {
  background-color: rgb(250, 209, 134);
}
.appName {
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
}
.dropdown-item-text {
  .binanceStatus,
  .kucoinStatus,
  .krakenStatus {
    vertical-align: middle;
    float: right;
  }
  label {
    margin-bottom: 0;
  }
}
