.chartInfoContainer {
  display: flex;
  .chart {
    max-width: 700px;
    width: 70%;
    margin-right: 10px;
  }
  .info {
    max-width: 350px;
    width: 30%;
    overflow: hidden;
  }
}

.chartControls {
  display: flex;
  .threeMonths {
    border-right: 1px solid grey;
  }
  button {
    color: grey;
    background: none;
    border: none;
    border-left: 1px solid grey;
    cursor: pointer;
  }
  .viewOptions {
    color: grey;
    margin-left: 10px;
  }
}
