.chartInfoContainer {
  display: flex;
  flex-flow: row wrap;
  .chart {
    max-width: 700px;
    width: 100%;
    margin-right: 10px;
    @media only screen and (max-width: 1024px) {
      max-width: 100%;
    }
    @media only screen and (max-width: 400px) {
      height: 100%;
    }
  }
  .info {
    max-width: 350px;
    overflow: hidden;
    @media only screen and (max-width: 1024px) {
      max-width: 80%;
    }
  }
}

.chartControls {
  display: flex;
  .threeMonths {
    border-right: 1px solid grey;
  }
  button {
    color: grey;
    background: none;
    border: none;
    border-left: 1px solid grey;
    cursor: pointer;
  }
  .viewOptions {
    color: grey;
    margin-left: 10px;
  }
}
